.Chat-main
  .Chat-main__group_info
    .left-box
      .group-name
        = @group.name
      .menber-name 
      Member : 
      - @group.users.each do |user|
        = user.name
    .right-box
    = link_to edit_group_path(@group), class: "Contents__ed" do
      %button
        Edit

  .MessageField
    = render @messages

  .Message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
          = f.submit 'Send', class: 'Form__submit'



-#  - @messages.each do |message|
-#   = render partial: 'message', locals: {message: message}





