.Side-bar
  .Side-bar_top
    .Top-item
      .Top-item_name
        = current_user.name
      .Top-item_icon
        = link_to new_group_path(), class: "Contents__btn" do
          = icon('far', 'edit', class: 'left')
        = link_to edit_user_path(current_user), class: "Contents__btn" do
          = icon('fas', 'cog',class: 'right')
  .Side-bar_group  
    - current_user.groups.each do |group|
      .Group
        = link_to '#' do
          .Group__name
            = group.name
          .Group__message
            メッセージはまだありません